{% extends './base.html'%}

{% block module_name %} Admin {% endblock %}

{% block panel_ref %}<a href="{{url_for('site.index')}}">Site</a>{% endblock %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Last Login</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>87</td>
                    <td>admin@orion.com</td>
                    <td>27/10/2016</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>ern@orion.com</td>
                    <td>15/10/2016</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>emilia.perez@orion.com</td>
                    <td>13/10/2016</td>
                    <td>True</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

