<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flask Intro</title>
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body class="hold-transition skin-red">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>Flask Intro</b> - {% block module_name %}{% endblock %}</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Flask Intro</b> - {% block module_name_lg %}{% endblock %}</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-custom-menu">
                    {% block links_menu %}{% endblock %}

                    {% block user_actions_menu %}{% endblock %}
                </div><!-- /.navbar-collapse -->
            </nav>
        </header>


        {% block wrapper %}
            <div class="content-wrapper" style="min-height: 976px;">
                <section class="content-header">
                    {% block content_header %} {% endblock %}
                </section>

                <section class="content">
                    {% block content %} {% endblock %}
                </section>
            </div>
        {% endblock wrapper %}

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Esfuerzate!!!</b>
                Josue 1:9
            </div>
            <b>Copyright &copy; 2016 <a href="https://www.facebook.com/groups/pythondo/">PythonDO</a>.</b>
            All rights reserved.
        </footer>
    </div>
    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>